.desrt{
    margin-top: 120px;
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}
.search {
    
        border: 1px solid #e6dfdf;
        border-radius: 25px;
        padding-left: 15px;
        max-width: 450px;
        height: 48px;
        margin: 30px auto;
        align-items: center;
       
}
.main-input{
    height: 42px;
    width: 350px;
    border: none;
    outline: none;
    margin-left: 5px;
}
.search > button {
    height: 40px;
    border: none;
    background-color: #131420;
}
.submit-button{

    font-weight: 600;
}
.submit-button:hover{
    cursor: pointer;
}

@media (max-width:960px) {

}
@media(max-width:600px){
    .search {width: 70%;}
    .main-input{width: 70%;}
}